body {
  margin: 0;
  padding: 0;
  background: #f1f1f1;
}

body.dark {
  background: #111;
}

@font-face {
  font-family: 'Lato';
  src: url(./fuentes/Lato-bold.ttf)
  format('truetype');
}

header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-color: #A0522D;
}

body.dark header {
  background: #000;
}

#logo {
  width: 17vw;
  height: 27vh;
}

.titulo {
  color: white;
  font-size: 2.3em;
  font-family: 'Lato';
  font-style: italic;
  text-decoration: none;
}

.redes {
  display: flex;
}

.redes a {
  font-size: 1.4em;
  width: 3.5vw;
  height: 4.5vh;
  margin: 2.5px;
  padding: 1%;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.recetas {
  font-size: 1em;
  background: #e8c39e;
  display: flex;
  text-align: center;
}

.recetas li a {
  text-decoration: none;
  color: black;
  padding: 20px;
  display: flex;
}

.recetas li {
  display: inline-block;
}

.recetas li a:hover {
  background: #f5e1ce;
}

body.dark nav {
  background: #222;
  color: #fff;
}

body.dark nav a{
  color: #fff;
}

body.dark li a:hover{
  background: grey;
}

.contenido-principal {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  background:  #f5e1ce;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

body.dark section {
  background: #222;
  color: #fff;
}

body.dark .subtitulo {
  background: #222;
  color: #fff;
}

img {
  align-items: center;
  margin: 0 auto;
  padding: 20px 10px;
  width: 32vw;
  height: 28vh;
}

.subtitulo {
  color: #000;
  font-family: monospace;
}

.video {
  padding: 30px;
  margin: 10px auto;
  width: 65vw;
  height: 45vh;
}

h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 2.5em;
    font-family: 'Cormorant', serif;
}

h3 {
    font-size: 2.3em;
    text-decoration: underline;
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
}

p {
    font-size: 1.04rem;
    font-family: 'Montserrat', sans-serif;
}

.ul-container {
    font-size: 1.1em;
    font-family: 'Wix Madefor Text', sans-serif;

}

.ol-container {
  font-size: 1.1rem;
  font-family: 'Wix Madefor Text', sans-serif;

}

aside {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    background: #f5e1ce;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body.dark aside {
  background: #222;
  color: #fff;
}

body.dark .card {
  background: grey;
  color: #fff;
}

body.dark .btn-primary {
  background: #28323B;
}

body.dark .subtitulo2 {
  color: #fff;
}

footer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #A0522D;
}

body.dark footer {
  background: #000;
  color: #fff;
}

@media (max-width:700px) {
  .objeto1 {
    display: none;
  }
  .subtitulo2 {
    color:  #000;
    font-family: 'Fira Sans', sans-serif;
    text-decoration: none;
  }
  aside {
    background: #e8c39e;
  }
}

@media (min-width:700px) {
  .plato {
    display: none;
  }
}

@media (min-width:700px) {
  .subsubtitulo {
    display: none;
  }
}

.mapa {

  width: 50%;
  height: 150px;
  max-width: 100%;
}

.mapa iframe {
  width: 60%;
  height:45%;
}

.author{
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: orange;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.author:hover {
  background-color: #EF6E20;
}


.author:active {
  background-color: #FF6000;
}

body.dark .author {
  background: #28323B;
}

body.dark .author:hover {
  background: #2E2A3D;
}

body.dark .author:active {
  background: #0B071C;
}

.switch {
  background: #343d5b;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}

.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: unset;
  right: 0;
  border-radius: 100px;
  transition: .3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}

.switch, .active {
  color: #000;
}

.active::after {
    right: unset;
    left: 0;
}

.sol-luna {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}
