body {
  margin: 0;
  padding: 0;
  background-color: #DEB887;
}

@font-face {
  font-family: 'Lato';
  src: url(/fuentes/Lato-bold.ttf)
  format('truetype');
}

header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-color: #405c70;
}

#logo {
  width: 17vw;
  height: 27vh;
}

.titulo {
  color: white;
  font-size: 2.3em;
  font-family: 'Lato'
  font-style: italic;
  text-decoration: underline;
}

.redes {
  display: flex;
}

.redes a {
  font-size: 1.7em;
  width: 3.5vw;
  height: 4.5vh;
  margin: 5%;
  padding: 1%;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.recetas {
  font-size: 1em;
  background: #D2691E;
  display: flex;
  text-align: center;
}

.recetas li a {
  text-decoration: none;
  color: white;
  padding: 20px;
  display: flex;
}

.recetas li {
  display: inline-block;
}

.recetas li a:hover {
  background: #d58f41;
}

.contenido-principal {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  box-shadow: 0px 5px #000;
  background:  #DEB887;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

img {
  align-items: center;
  margin: 0 auto;
  padding: 20px 10px;
  width: 26vw;
  height: 28vh;
}

.subtitulo {
  color: #fff;
  font-family: monospace;
}

.video {
  padding: 30px;
  margin: 10px auto;
  width: 50%;
  height: 45vh;
}

h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 2.5em;
    font-family: 'Cormorant', serif;
}

h3 {
    font-size: 2.3em;
    text-decoration: underline;
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
}

p {
    font-size: 1.3rem;
    font-family: 'Edu NSW ACT Foundation', cursive;
}

.ul-container {
    font-size: 1.3em;
    font-family: 'Wix Madefor Text', sans-serif;
    margin: 10px auto;
}

.ol-container {
  font-size: 1.3rem;
  font-family: 'Wix Madefor Text', sans-serif;
  margin: 10px auto;
}

aside {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    box-shadow: 0px 5px #000;
    background: #DEB887;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #405c70;
}

@media (max-width:700px) {
  .objeto1 {
    display: none;
  }
  .subtitulo2 {
    color:  #000;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-decoration: none;
  }
  aside {
    background: #D2691E;
  }
}

@media (min-width:700px) {
  .plato {
    display: none;
  }
}

@media (min-width:700px) {
  .subsubtitulo {
    display: none;
  }
}

.mapa {

  width: 50%;
  height: 150px;
  max-width: 100%;
}

.mapa iframe {
  width: 60%;
  height:45%;
}


.author-description p {
  margin: 0;
}

.author-description span {
  font-weight: bold;
}
