body {
  margin: 0;
  padding: 0;
  background-color: #D2691E;
}

header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-color: #405c70;
}

#logo {
  width: 200px;
  height: 200px;
}

.titulo {
  color: white;
  font-size: 35px;
  font-family: sans-serif;
  font-style: italic;
  text-decoration: underline;
}

.redes a {
  font-size: 30px;
  width: 30px;
  height: 30px;
  margin: 3px;
  padding: 5px;
  text-align: center;
  color: #fff;
}

.recetas {
  font-size: 12px;
  background: #DEB887;
  display: flex;
  text-align: center;
}

.recetas li a {
  text-decoration: none;
  color: white;
  padding: 20px;
  display: flex;
}

.recetas li {
  display: inline-block;
}

.recetas li a:hover {
  background: #9b7653;
}

.contenido-principal {
  width: 100%;
  height: 100%;
  margin-top: 10px;

  box-shadow: 0px 5px #000;
  background:  #DEB887;
}

img {
  align-items: center;
  margin: 0 auto;
  padding: 20px 10px;
  width: 400px;
  height: 200px;
}

.subtitulo {
  color: #fff;
  font-family: monospace;
}

.video {
  padding: 30px;
  margin: 10px auto;
  width: 560px;
  height: 315px;
}

h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 35px;
}

h3 {
    font-size: 30px;
    text-decoration: underline;
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
}

p {
    font-size: 20px;
    font-family: sans-serif;
}

.ul-container {
    font-size: 20px;
    font-family: sans-serif;
    margin: 10px auto;
}

.ol-container {
  font-size: 20px;
  font-family: sans-serif;
  margin: 10px auto;
}

aside {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    box-shadow: 0px 5px #000;
    background: #DEB887;
}

footer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #405c70;
}

.mapa {

  width: 50%;
  height: 150px;
  max-width: 100%;
}

.mapa iframe {
  width: 60%;
  height:45%;
}


.author-description p {
  margin: 0;
}

.author-description span {
  font-weight: bold;
}
